dashscope
einops
flash_attn
gymnasium==0.28.1
matplotlib==3.8.1
open3d==0.18.0
openai==1.29.0
openpyxl==3.1.2
pandas==2.2.2
peft
psutil==5.7.2
scikit-image
scikit-learn==1.4.2
scipy==1.10.1
sniffio==1.3.0
spacy==3.7.4
tiktoken
timm==0.9.16
tqdm==4.66.4
transformers==4.40.2
usd-core==23.11